@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Passion One';
    src: url(fontes/PassionOne-Regular.ttf) format('truetype');
}


:root{
    --fonteDefault:'Passion One';
    --fonteTexto:'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.437);
}

header > h1 {
    font-family: var(--fonteDefault);
    font-variant: small-caps;
    font-weight: normal;
    font-size: 13vw;
    color: white;
    padding: 30px 0px 0px 0px;
}

header p {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.6em;
    padding-bottom: 30px;

}

header a {
    font-family: var(--fonteDefault);
    color: white;
    font-weight: normal;
    text-decoration: none;
}

header a:hover{

    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10px;
    font-size: 3vw;
}

section > p {
    font-family: var(--fonteTexto);
    padding: 0px 0px 0px 5px;
    
}

.imagem > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50vw;;
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

#img1{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
}

#img2{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: black;
    font-size: 0.5em;
}

footer > p{
    text-align: center;
    color: white;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    padding: 0px 0px 0px 0px;
}